@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="GetCategory" asp-controller="Category"> <button type="button" class="btn btn-warning"> Category</button></a>

    <a asp-action="GetProduct" asp-controller="Product"> <button type="button" class="btn btn-primary"> Product</button></a>
   

    
</div>
